PG_CONTAINER_NAME="postgres"
POSTGRES_DB="test"
POSTGRES_USER="armin"
POSTGRES_PASSWORD="mojasifra"
POSTGRES_PORT="5500"

NODE_ENV="development"

LOGS_PATH="C:\Users\38762\Downloads\logs"
BACKUP_PATH="C:\Users\38762\Downloads\backup"